<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="CE950867-D35C-41BF-9A11-FA4E3AFA45A7" 
             UpgradeCode="F1C48367-6E7A-4B17-9059-E0CC9C511339" Version="1.0.0.0" Language="1033" Name="LSLCCEditor" Manufacturer="Teriks">
        <Package InstallerVersion="300" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />
        <Media Id="1" Cabinet="application.cab" EmbedCab="yes" />

      <Icon Id="icon.ico" SourceFile="..\LSLCCEditor\bin\Release\lsl_script_icon.ico"/>
      <Property Id="ARPPRODUCTICON" Value="icon.ico" />
      
      
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
              <Directory Id="CompanyFolder" Name="LSLcc">
                <Directory Id="INSTALLLOCATION" Name="LSLCCEditor"/>
              </Directory>
            </Directory>
            <!-- Step 1: Define the directory structure -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="LSLCCEditor"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="LSLCCEditor.exe" Guid="C2A64567-7F79-40CA-AECC-39702C4E851E">
              <File Id="LSLCCEditor.exe" Source="..\LSLCCEditor\bin\Release\LSLCCEditor.exe" KeyPath="yes" Checksum="yes"/>
              
              <ProgId Id='LSLCCEditor.lslfile' Description='LSL Source Code'>
                <Extension Id='lsl' ContentType='application/lsl'>
                  <Verb Id='open'  Command='Open' TargetFile='LSLCCEditor.exe' Argument='"%1"' />
                </Extension>
              </ProgId>


              <File Id="AvalonEdit" Source="..\LSLCCEditor\bin\Release\ICSharpCode.AvalonEdit.dll" />
              <File Id="AvalonEditXml" Source="..\LSLCCEditor\bin\Release\ICSharpCode.AvalonEdit.xml" />
              <File Id="AntlrRuntime" Source="..\LSLCCEditor\bin\Release\Antlr4.Runtime.dll" />
              <File Id="LibLSLCC" Source="..\LSLCCEditor\bin\Release\LibLSLCC.dll" />
              <File Id="LSLCCEditor.exe.config" Source="..\LSLCCEditor\bin\Release\LSLCCEditor.exe.config" />
              <File Id="Icon" Source="..\LSLCCEditor\bin\Release\lsl_script_icon.ico" />
            </Component>
        </DirectoryRef>

        <!-- Step 2: Add the shortcut to your installer package -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="346EA803-F018-45E5-8D79-A5D47A1737DB">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                     Name="LSLCCEditor" 
                   Description="LSLCCEditor"
                    Target="[#LSLCCEditor.exe]"
                          WorkingDirectory="INSTALLLOCATION"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\LSLcc\LSLCCEditor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
           </Component>
        </DirectoryRef>

        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="LSLCCEditor.exe" />
            <!-- Step 3: Tell WiX to install the shortcut -->
            <ComponentRef Id="ApplicationShortcut" />   
        </Feature>
    </Product>
</Wix>