<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           UpgradeCode="F1C48367-6E7A-4B17-9059-E0CC9C511339" Version="1.0.1.0" Language="1033" Name="LSLCCEditor"
           Manufacturer="Teriks">
    <Package InstallerVersion="300" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />
    <Media Id="1" Cabinet="application.cab" EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)..\..\..\lsl_script_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" Disallow="no" AllowDowngrades="no"
                  DowngradeErrorMessage="A newer version of this software is already installed." />

   
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir" />
    
     <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="CompanyFolder" Name="LibLSLCC">
          <Directory Id="INSTALLLOCATION" Name="LSLCCEditor" >
            <Directory Id="LIBRARYDATA" Name="library_data"/>
            <Directory Id="THIRDPARTYLICENSES" Name="ThirdPartyLicenses"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="LSLCCEditor" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="LSLCCEditor.exe" Guid="C2A64567-7F79-40CA-AECC-39702C4E851E">
        <File Id="LSLCCEditor.exe" Source="$(var.SourceDir)LSLCCEditor.exe" KeyPath="yes" Checksum="yes" />

        <ProgId Id='LSLCCEditor.lslfile' Description='LSL Source Code'>
          <Extension Id='lsl' ContentType='application/lsl'>
            <Verb Id='open' Command='Open' TargetFile='LSLCCEditor.exe' Argument='"%1"' />
          </Extension>
        </ProgId>

        <File Id="Licence" Source="license.rtf"/>
        <File Id="AvalonEdit" Source="$(var.SourceDir)ICSharpCode.AvalonEdit.dll" />
        <File Id="AvalonEditXml" Source="$(var.SourceDir)ICSharpCode.AvalonEdit.xml" />
        <File Id="AntlrRuntime" Source="$(var.SourceDir)Antlr4.Runtime.dll" />
        <File Id="LibLSLCC" Source="$(var.SourceDir)LibLSLCC.dll" />
        <File Id="LSLCCEditor.CompletionUI" Source="$(var.SourceDir)LSLCCEditor.CompletionUI.dll" />
        <File Id="LSLCCEditor.EditControl" Source="$(var.SourceDir)LSLCCEditor.EditControl.dll" />
        <File Id="LSLCCEditor.Utility" Source="$(var.SourceDir)LSLCCEditor.Utility.dll" />
        <File Id="LSLCCEditor.exe.config" Source="$(var.SourceDir)LSLCCEditor.exe.config" />
        <File Id="Xceed.Wpf.Toolkit" Source="$(var.SourceDir)Xceed.Wpf.Toolkit.dll" />
        <File Id="Icon" Source="$(var.SourceDir)..\..\..\lsl_script_icon.ico" />
      </Component>

    </DirectoryRef>

    <Component Id="LibraryDataFolder" Directory="LIBRARYDATA" Guid="F5B97C71-2173-4679-BDCA-2935A0EB05A7">
      <File Id="default.xml" Source="$(var.SourceDir)\library_data\default.xml"/>
      <File Id="LibraryData_XML_Syntax_README.txt" Source="$(var.SourceDir)\library_data\LibraryData_XML_Syntax_README.txt"/>
    </Component>

    <Component Id="ThirdPartyLicensesFolder" Directory="THIRDPARTYLICENSES" Guid="E6CB3511-BC30-49A3-89E8-168360E2518B">
      <File Id="AvalonEdit.txt" Source="$(var.SourceDir)\ThirdPartyLicenses\AvalonEdit.txt"/>
      <File Id="Antlr_4.txt" Source="$(var.SourceDir)\ThirdPartyLicenses\Antlr 4.txt"/>
    </Component>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="346EA803-F018-45E5-8D79-A5D47A1737DB">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="LSLCCEditor"
                  Description="LSLCCEditor"
                  Target="[#LSLCCEditor.exe]"
                  WorkingDirectory="INSTALLLOCATION" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\LibLSLCC\LSLCCEditor" Name="installed" Type="integer" Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="LSLCCEditor.exe" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="LibraryDataFolder"/>
      <ComponentRef Id="ThirdPartyLicensesFolder"/>
    </Feature>
  </Product>
</Wix>