<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="LSLCCEditor" Language="1033" Version="1.0.0.0" Manufacturer="Teriks" UpgradeCode="3be8c5f0-c221-4d85-aee0-775427baa26b">
    
    
    
  
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />


    <Icon Id="ApplicationIcon.ico" SourceFile="..\LSLCCEditor\bin\Release\lsl_script_icon.ico"/>
    
    <Property Id="ARPPRODUCTICON" Value="ApplicationIcon.ico" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="LSLCCEditor" />
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="LSLcc">
          <Component Id="ProgramMenuDir" Guid="{3BC5E1F6-4AB6-4653-AE1C-DCAB71529002}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKMU" Key="Software\LSLcc\[ProductName]" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>



    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="LSLCCEditor.exe" Guid="{E7D19745-EF2B-4BAD-B8F4-C827C5D47855}">

        <File Id="LSLCCEditor.exe" Source="..\LSLCCEditor\bin\Release\LSLCCEditor.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Icon="ApplicationIcon.ico"  Id="ApplicationStartMenuShortcut" Directory="ProgramMenuDir" Name="LSLCCEditor" Advertise="yes" />
        </File>

        <ProgId Id='LSLCCEditor.lslfile' Description='LSL Source Code'>
          <Extension Id='lsl' ContentType='application/lsl'>
            <Verb Id='open'  Command='Open' TargetFile='LSLCCEditor.exe' Argument='"%1"' />
          </Extension>
        </ProgId>


        <File Id="AvalonEdit" Source="..\LSLCCEditor\bin\Release\ICSharpCode.AvalonEdit.dll" />
        <File Id="AvalonEditXml" Source="..\LSLCCEditor\bin\Release\ICSharpCode.AvalonEdit.xml" />
        <File Id="AntlrRuntime" Source="..\LSLCCEditor\bin\Release\Antlr4.Runtime.dll" />
        <File Id="LibLSLCC" Source="..\LSLCCEditor\bin\Release\LibLSLCC.dll" />
        <File Id="LSLCCEditor.exe.config" Source="..\LSLCCEditor\bin\Release\LSLCCEditor.exe.config" />
        <File Id="Icon" Source="..\LSLCCEditor\bin\Release\lsl_script_icon.ico" />
      </Component>
    </ComponentGroup>


    <Feature Id="ProductFeature" Title="LSLCCEditor" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramMenuDir" />
		</Feature>
	</Product>

</Wix>