<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Bundle Name="LSLCCEditor" Version="1.0.0.1" Manufacturer="Teriks"  UpgradeCode="56E73E24-9F33-415C-95F2-08950CB58BB2" IconSourceFile="../LSLCCEditor/lsl_script_icon.ico">
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl="" 
        xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
      
    </BootstrapperApplicationRef>
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]LSLcc\LSLCCEditor"/>
    
    <Chain>
      
      
      
      <PackageGroupRef Id="NetFx45Redist"/>
			<!-- TODO: Define the list of chained packages. -->
			<MsiPackage  SourceFile="..\LSLCCEditorInstaller\bin\Release\LSLCCEditorInstaller.msi" >
          <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]" />
      </MsiPackage>
		</Chain>
	</Bundle>
</Wix>